<div>
    <h2>Job Chart</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ng-click="vm.generate()">
                    <span class="glyphicon glyphicon-refresh"></span>
                    <span >
                        Re-generate
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <textarea ng-model="vm.chartData">
        st=>start: Start|past:>http://www.google.com[blank]
		e=>end: End:>http://www.google.com
		op1=>operation: My Operation|past
		op2=>operation: Stuff|current
		sub1=>subroutine: My Subroutine|invalid
		cond=>condition: Yes
		or No?|approved:>http://www.google.com
		c2=>condition: Good idea|rejected
		io=>inputoutput: catch something...|request
		
		st->op1(right)->cond
		cond(yes, right)->c2
		cond(no)->sub1(left)->op1
		c2(yes)->io->e
		c2(no)->op2->e
    </textarea>
	<div id="diagram"></div>
</div>
